{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"graph.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/v1.0/users/accountsreceivable@townepark.com/sendMail":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"SendMail","operationId":"SendMail","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"message":{"type":"object","properties":{"subject":{"type":"string","description":"subject"},"body":{"type":"object","properties":{"contentType":{"type":"string","description":"contentType"},"content":{"type":"string","description":"content"}},"description":"body"},"toRecipients":{"type":"array","items":{"type":"object","properties":{"emailAddress":{"type":"object","properties":{"address":{"type":"string","description":"address"}},"description":"emailAddress"}}},"description":"toRecipients"},"attachments":{"type":"array","items":{"type":"object","properties":{"@odata.type":{"type":"string","description":"@odata.type"},"name":{"type":"string","description":"name"},"contentType":{"type":"string","description":"contentType"},"contentBytes":{"type":"string","description":"contentBytes"}}},"description":"attachments"}},"description":"message"},"saveToSentItems":{"type":"string","description":"saveToSentItems"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}},"oAuthClientCredentials":{"type":"oauth2","flow":"application","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"oauth2-auth":[]}],"tags":[]}