node_modules
cypress/cucumber-json/
cypress/reports/
cypress/downloads
cucumber-json-formatter.exe
k6/summary.html
k6/session.json
k6/src/utils/auth-cookies.ts
k6/dist/*.bundle.js
k6/dist/*.bundle.js.map
k6/reports
.env