tree_sitter
tree-sitter-languages
prance 
openapi-spec-validator 
graphql-core 
PyYAML 
python-hcl2
lxml
jsonschema
requests
beautifulsoup4
markdownify
markdown
Jinja2
pydantic
httpx
fastapi
uvicorn
sqlalchemy
databases
alembic
pytest
openai
openapi
mkdocs-material
rich
python-dotenv
rapidfuzz
graphviz
networkx
